.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.messages-page .main-controls {
  padding-top: 1em;
}
body.messages-page .main-controls .button {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
body.messages-page .all-messages .message {
  padding: 0.5em 1em;
  border-bottom: 1px solid #dddddd;
}
body.messages-page .all-messages .message .message-link {
  cursor: pointer;
}
body.messages-page .all-messages .message .message-link:hover .from {
  color: #20608e;
}
body.messages-page .all-messages .message.unread {
  background-color: #ffffdd;
}
body.messages-page .all-messages .message .recipient {
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #2e8bcc;
}
body.messages-page .all-messages .message .subject {
  font-size: 13px;
  color: #666666;
  padding-bottom: 0.5em;
}
body.messages-page .all-messages .message .controls {
  padding-top: 2em;
}
body.messages-page .all-messages .message .controls .date {
  color: #666666;
  font-size: 13px;
}
body.messages-page .all-messages .message .controls span,
body.messages-page .all-messages .message .controls a {
  margin-right: 0.5em;
}
body.messages-page .all-messages .message .controls .link-delete {
  float: right;
}
