<p>This is a notice that an invoice has been generated on {current_date}.</p>
<p>
Invoice #{invoice_id} <br />
Amount due: {invoice_total} <br />
Due date: {invoice_due_at}
</p>
<p><strong>Invoice items</strong></p>
<p>
{invoice_items}
    {item_quantity}x {item_description} {item_total}<br />
{/invoice_items}
</p>
<p>
------------------------------------------------------<br />
Sub Total: {invoice_subtotal}<br />
{invoice_tax_items}
    {tax_name}: {tax_total}<br />
{/invoice_tax_items}
Discount: {invoice_discount}<br />
Total: {invoice_total}<br />
------------------------------------------------------ <br />
</p>

You can view and pay the invoice here: <a href="{invoice_url}">{invoice_url}</a>
