<p>You have been specially invited to a request on {site_name}.</p>
<p>
<strong>Request:</strong><br />
{request_title}
</p>
<p>
<strong>Location:</strong><br />
{request_location}
</p>
<p>
To ask a question or submit a price quote visit:<br />
{request_link}
</p>