<? Admin_Breadcrumb::add('Service', 'service/skills')->add($this->app_page_title);?>
<? Phpr_View::begin_block("view") ?>

	<? if (!isset($fatal_error)): ?>
		<div class="form-600">
			<?= form_open(array('id'=>'form-element')) ?>
				<input type="hidden" value="1" id="new_record_flag"/>

				<? $this->form_render() ?>

				<div id="fixed-toolbar" class="top">
					<div class="form-toolbar">
						<?= admin_ajax_button('Create', 'create_on_save', array('class'=>'btn-success'), "beforeSend: function(){phprTriggerSave();}, customIndicator: LightLoadingIndicator") ?>
						<?= admin_ajax_button('Create and Close', 'create_on_save', array('class'=>'btn-primary'), "data: {create_close: 1}, beforeSend: function(){phprTriggerSave();}") ?>
						<?= admin_ajax_button('Cancel', $this->get_event_handler('on_cancel'), array('class'=>'pull-right')) ?>
					</div>
				</div>

			</form>
		</div>
	<? else: ?>
		<?=flash()?>
		<p><a href="<?= url('service/skills') ?>">Return to the list</a></p>
	<? endif ?>
<? Phpr_View::end_block() ?>