<? Admin_Breadcrumb::add('Service', 'service/skills')->add($this->app_page_title);?>
<? Phpr_View::begin_block("view") ?>

	<? if (!isset($fatal_error)): ?>
		<div class="form-600">
			<?= form_open(array('id'=>'form-element')) ?>

				<? $this->form_render() ?>

				<div id="fixed-toolbar" class="top">
					<div class="form-toolbar">
						<?= admin_ajax_button('Save', 'edit_on_save', array('class'=>'btn-success'), "beforeSend: function(){phprTriggerSave();}, data: {redirect: 0}, customIndicator: LightLoadingIndicator") ?>
						<?= admin_ajax_button('Save and Close', 'edit_on_save', array('class'=>'btn-primary'), "beforeSend: function(){phprTriggerSave();}") ?>
						<?= admin_ajax_button('Cancel', $this->get_event_handler('on_cancel')) ?>
						<?= admin_ajax_button('Delete', $this->get_event_handler('on_delete'), array('class'=>"btn-danger pull-right"), "confirm: 'Do you really want to delete this skill?'") ?>
					</div>
				</div>

			</form>
		</div>
	<? else: ?>
		<p><a href="<?= url('service/skills') ?>">Return to the list of Skills</a></p>
	<? endif ?>
<? Phpr_View::end_block() ?>