{name} has provided a testimonial about you on {site_name}.
<blockquote> 
<p>Location: {location}</p>
<p>Email: {email}</p>
<p>Comment: {comment}</p>
</blockquote>
<p><a href="{link}">View your profile here</a></p>