<p>Hello,</p>
<p>A user has suggested you create a Service Category for the site.</p>

<p>
    Name: {name}<br />
    Email: {email}
</p>

<p>
    Suggested Category:<br />
    <strong>{category_name}</strong>
</p>

<p>Please confirm with {name} of your decision to include this category or follow up with them for more details.</p>