{first_name} from {business_name} would like you to write a testimonial about them on {site_name}.
<blockquote> 
<p>Subject: {subject}</p>
<p>Message: {message}</p>
</blockquote>
<p><a href="{link}">Write a testimonial for {business_name}</a></p>