<p>
	Hey {user_first_name}, to start logging in with {social_provider_name},
	please confirm your email address by clicking the link below:<br/>
	<a href="{social_associate_url}">{social_associate_url}</a>
</p>