<p><strong>Congratulations!</strong> You have chosen a {request_title} for your request successfully.</p>
<table cellpadding="15">
<tbody>
<tr>
<td valign="top" width="100">Provider:</td>
<td valign="top">
<h4>{provider_business_name}</h4>
</td>
</tr>
<tr>
<td valign="top">Contact details:</td>
<td valign="top">{provider_street_addr}<br />{provider_city}, {provider_state} {provider_zip}</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">
<div style="color: #fff;">-</div>
</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">{provider_phone}</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">{provider_mobile}</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">{provider_email}</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">
<div style="color: #fff;">-</div>
</td>
</tr>
<tr>
<td valign="top">Quote:</td>
<td valign="top">
<h4>{quote_price}</h4>
</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">{quote_summary}</td>
</tr>
<tr>
<td valign="top">Start Time:</td>
<td valign="top">{quote_start_at}</td>
</tr>
<tr>
<td valign="top">Note:</td>
<td valign="top">{quote_comment}</td>
</tr>
</tbody>
</table>
<p>For more information, visit your request page:<br /><strong>{request_url}</strong></p>
<p>Thank you for using {site_name} for your service needs.</p>