<p>A provider on {site_name} has asked a question about one of your requests.</p>
<p>
Their question is:<br />
<strong>{question_description}</strong>
</p>
<p>
About your submission:<br />
<strong>{request_title}</strong><br />
{request_link}
</p>
<p>Please answer this question as soon as you can by opening the above link.</p>