<p>A submission was just added to {site_name} that matches your area of expertise.</p>
<p>
<strong>Request:</strong><br />
{request_title}
</p>
<p>
<strong>Location:</strong><br />
{request_location}
</p>
<p>
To ask a question or submit a price quote:<br />
{request_link}
</p>