.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
.box {
	border: 2px solid #E7E7E7;
	margin: 0 0 20px 0;
	border-radius: 3px;
}
.box .box-header {
  padding: 0.5em;
  border-bottom: 1px solid #d5d5d5;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  *zoom: 1;
}
.box .box-header:before,
.box .box-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.box .box-header:after {
  clear: both;
}
.box .box-header h3,
.box .box-header h6 {
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  font-weight: normal;
  padding: 0 !important;
  margin: 0 !important;
}
.box .box-content {
  padding: 20px 20px 2px 20px;
  *zoom: 1;
}
.box .box-content:before,
.box .box-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.box .box-content:after {
  clear: both;
}
.box .box-footer {
  padding: 20px 20px 2px 20px;
  border-top: 1px solid #e1e1e1;
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(top, #fbfbfb, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #ffffff);
  background-image: -o-linear-gradient(top, #fbfbfb, #ffffff);
  background-image: linear-gradient(to bottom, #fbfbfb, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbfb', endColorstr='#ffffffff', GradientType=0);
}
