.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
.control_conversation {
  margin-top: 1em;
}
.control_conversation .conv_header {
  margin-bottom: 0;
  padding-left: 22px;
  background: url('../../../../../images/icons/chat.png') 0 50% no-repeat;
}
.control_conversation .conv_message {
  width: 100%;
  position: relative;
}
.control_conversation .conv_message .message {
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 84%;
  background: #ffffff;
  margin: 1em 1%;
  padding: 1em 0;
}
.control_conversation .conv_message .message p {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
  padding: 0 1em;
}
.control_conversation .conv_message .message p.time {
  color: #555555;
  padding: 0.5em 1em 0;
}
.control_conversation .conv_message .user {
  width: 13%;
  margin: 2em 0;
  font-weight: bold;
  font-size: 12px;
  word-wrap: break-word;
}
.control_conversation .conv_message .arrow {
  position: relative;
  top: -2px;
}
.control_conversation .conv_message.left .arrow {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #999999;
  float: right;
  right: -6px;
}
.control_conversation .conv_message.left .user {
  float: right;
  text-align: right;
}
.control_conversation .conv_message.left .message {
  float: right;
}
.control_conversation .conv_message.right .arrow {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #999999;
  float: left;
  left: -6px;
}
.control_conversation .conv_message.right .user {
  float: left;
}
.control_conversation .conv_message.right .message {
  float: left;
}
