.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
.control-group span.validate-text {
  position: relative;
  top: -5px;
  margin-top: -5px;
}
.control-group.error textarea,
.control-group.error input[type="text"],
.control-group.error input[type="password"],
.control-group.error input[type="datetime"],
.control-group.error input[type="datetime-local"],
.control-group.error input[type="date"],
.control-group.error input[type="month"],
.control-group.error input[type="time"],
.control-group.error input[type="week"],
.control-group.error input[type="number"],
.control-group.error input[type="email"],
.control-group.error input[type="url"],
.control-group.error input[type="search"],
.control-group.error input[type="tel"],
.control-group.error input[type="color"] {
  background: url('../../../../../images/icons/warning.png') 99% 50% no-repeat;
}
.control-group.error textarea {
  background-position: 99% 5px;
}
.control-group.success textarea,
.control-group.success input[type="text"],
.control-group.success input[type="password"],
.control-group.success input[type="datetime"],
.control-group.success input[type="datetime-local"],
.control-group.success input[type="date"],
.control-group.success input[type="month"],
.control-group.success input[type="time"],
.control-group.success input[type="week"],
.control-group.success input[type="number"],
.control-group.success input[type="email"],
.control-group.success input[type="url"],
.control-group.success input[type="search"],
.control-group.success input[type="tel"],
.control-group.success input[type="color"] {
  background: url('../../../../../images/icons/tick.png') 99% 50% no-repeat;
}
.control-group.success textarea {
  background-position: 99% 10px;
}
.control-group.success span.validate-text {
  display: none !important;
}
.form-horizontal span.validate-text {
  top: 5px;
  left: 20px;
  width: 95%;
}

.loginPanel { 
	margin: 50px auto; 
}

.loginPanel .span7.form {
	text-align: right;
	padding-right: 30px;
}

.loginPanel .controls {
	margin-bottom:18px;
}

.loginPanel .controls label {
	width: 128px;
	display: inline-block;
	text-align: right;
	font-size: 15px;
	margin-bottom: 0px;
	vertical-align: middle;
	color: #777;
	padding-right: 10px;
}

.loginPanel .controls #user_login, .loginPanel .controls #user_password, .loginPanel .controls #user_email, .loginPanel .controls #user_password_confirm, .loginPanel .controls #user_username {
	width: 380px;
	display: inline-block;
	margin-bottom: 0px;
}

.socialPanel {
	width: 26% !important;
}

.socialPanel h4 {
	margin: 0px 0px 30px;
	font-size: 17px;
	color: #777;
}

.socialPanel h5 {
	margin: 22px 0px 0px;
	font-size: 14px;
	color: rgb(31,141,218);
	text-align:right;
}

.socialPanel a.btn.facebook{background-color: rgb(60,89,157);border:2px solid rgb(38,76,161); border-radius: 0px;text-shadow: none;box-shadow: none;background-image: none;color: #fff;font-size: 15px;padding: 11px 15px 7px 15px;font-family: open_sanslight;width: 250px !important;}
.socialPanel a.btn.facebook:hover{background-color: rgb(38,76,161);}

.socialPanel a.btn.google{background-color: rgb(216,76,49);border:2px solid rgb(161,64,48); border-radius: 0px;text-shadow: none;box-shadow: none;background-image: none;color: #fff;font-size: 15px;padding: 11px 15px 7px 15px;font-family: open_sanslight;width: 250px !important;}
.socialPanel a.btn.google:hover{background-color: rgb(161,64,48);}

.socialPanel a.btn i {
	font-size: 27px;
	vertical-align: middle;
	padding: 0px 18px 0px 0px;
}

.loginPanel button.login {font-size: 15px;}
.loginPanel button.login:hover{background-color: #7ea800;}

.loginPanel button.login i {margin-left: 7px;}


.loginPanel .termsText {
	text-align:right;
	color:#777;
	font-size:13px;
	margin-bottom: 23px;
}

.loginPanel .loginBtnPanel {
	text-align: right;
}

.loginPanel .loginBtnPanel .forgotPassword, .loginPanel .form-actions .forgotPassword {
	margin: 20px 25px 0px 0px;
	display: inline-block;
	font-size: 12px;
}