.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
.offer-request-control .sub-nav {
  margin-bottom: 0.5m;
}
.offer-request-control .row.titles .columns strong {
  display: block;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.2em;
  margin-bottom: 01em;
  font-weight: bold;
}
.offer-request-control .title {
  font-size: 16px;
  line-height: 1.4;
}
.offer-request-control .info {
  font-size: 12px;
  font-weight: bold;
  padding: 0.5em 0;
}
.offer-request-control .description {
  line-height: 1.3;
  font-size: 12px;
}
.offer-request-control .status p {
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
  padding-top: 5px;
}
.offer-request-control .status span.quotes {
  font-size: 20px;
  display: block;
}
.offer-request-control .status .btn {
  margin-top: 5px;
}
.offer-request-control hr {
  border-style: dashed;
  border-bottom: none;
}
.offer-request-control .status,
.offer-request-control .time {
  text-align: center;
}
.offer-request-control .status {
  padding-top: 0.5em;
}
.offer-request-control .time {
  font-size: 12px;
}
.offer-request-control .time span {
  font-size: 16px;
  display: block;
}
.offer-request-control .request .time {
  padding-top: 1em;
}
.offer-request-control .job .time span {
  margin: .3em 0;
}
