.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
.provider-form-control .control-group {
  min-height: 32px;
  margin-bottom: 0;
}
.provider-form-control .control-group label {
  margin: 0;
  padding: 0.4em 0.2em;
  color: #6f6f6f;
}
.provider-form-control .control-group.phone_info label {
  margin: 0;
  padding: 0.6em 0.0em;
  color: #6f6f6f;
}
.provider-form-control .control-group label:hover {
  background-color: #ffffdd;
}
.provider-form-control .control-group label.populated {
  color: #333333;
}
.provider-form-control .control-group .controls {
  position: relative;
  padding-top: 0;
}
.provider-form-control .control-group textarea,
.provider-form-control .control-group input,
.provider-form-control .control-group select {
  margin-bottom: 1px;
}
.provider-form-control .control-group .validate-text {
  z-index: 2;
  position: absolute;
  left: 100%;
  margin-top: 5px;
  margin-left: 5px;
  white-space: nowrap;
  padding: 5px;
  background: #c60f13;
  color: #fff;
}
.provider-form-control .control-group .validate-text.valid {
  display: none !important;
}
.provider-form-control .control-group.website {
  margin-bottom: 0.5em;
}
.provider-form-control .control-group.business_name label,
.provider-form-control .control-group.business_name input {
  font-weight: bold;
  font-size: 17px;
}
.provider-form-control .control-group.business_name input {
  line-height: 1.6;
}
.provider-form-control .control-group.business_name .validate-text {
  margin-top: 7px;
}
.provider-form-control .control-group.business_name .controls {
  padding: 1px 0;
}
.provider-form-control .control-group.role_name {
  position: relative;
  top: -5px;
  left: 1px;
}

.provider-form-control .lic {
  position: relative;
  top: 5px;
  left: 5px;
}

.provider-form-control .lic label { 
	padding: 0.4em 0em;
}

.provider-form-control .control-group.Bonded {
  position: relative;
  left: 1px;
}

.provider-form-control .control-group.role_name label {
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.provider-form-control .control-group.mobile {
  position: relative;
  top: -5px;
}
.provider-form-control .control-group.address .populated {
  line-height: 1.6;
}
.provider-form-control .control-group.address select {
  width: 100%;
}
.provider-form-control #input_provide_photo,
.provider-form-control #input_provide_logo {
  position: absolute;
  visibility: hidden;
}
.provider-form-control .profile_photo,
.provider-form-control .business_logo,
.provider-form-control .business_name,
.provider-form-control .phone_info {
  padding: 0.5em;
  border: 2px dashed #dddddd;
  background-color: #ffffff;
  margin-bottom: 1em;
  position: relative;
}
.provider-form-control .business_logo a {
  display: block;
  color: #555555;
  padding: 0.2em 0;
}
.provider-form-control .business_logo #link_provide_logo_remove {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0.3em;
  opacity: 0;
  filter: alpha(opacity=0);
}
.provider-form-control .business_logo:hover #link_provide_logo_remove {
  opacity: 1;
  filter: alpha(opacity=100);
}
.provider-form-control .profile_photo {
  text-align: center;
}
.provider-form-control .profile_photo #link_provide_photo_remove {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 0.3em;
  background: #ffffff;
}
.provider-form-control .profile_photo:hover #link_provide_photo_remove {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .provider-form-control .control-group .validate-text {
    position: relative;
    left: 0;
    margin-left: 0;
    margin-top: -5px;
  }
}
