<p>This is a reminder that your service request is being performed tomorrow.</p>
<p>Appointment time: <strong>{quote_start_at}</strong></p>
<p>
Contact Details:<br />
{user_name}<br />
{user_street_addr}<br />
{user_city}, {user_state} {user_zip}<br />
{user_phone}<br />
{user_mobile}<br />
{user_email}
</p>
<p>
<strong>{request_title} Request</strong><br />
<strong>{request_link}</strong>
</p>
<p>Thank you for using {site_name} for your service needs.</p>