<?
	$providers = $this->get_provider_list($form_model);
?>
<div class="navbar scroll-toolbar">
	<div class="navbar-inner">
		<? $this->display_partial('provider_control_panel')?>
	</div>
</div>
<table class="table list-table">
	<thead>
		<tr>
			<th class="list-icon">&nbsp;</th>
			<th class="list-checkbox">
				<input type="checkbox" class="list_head_cb checkbox" value="1" onclick="Admin_Page.listCheckAll(this)" />
			</th>
			<th class="current">Business Name</th>
			<th class="<?=!count($providers) ? 'last' : null ?>">User ID</th>
			<? if (count($providers)): ?>
				<th class="list-icon last">&nbsp;</th>
			<? endif ?>
		</tr>
	</thead>

	<tbody id="group_providers_list">
		<? if (!$providers): ?>
			<tr class="no-data">
				<td colspan="4" class="last">There are no providers in this group.</td>
			</tr>
		<? else: ?>
			<? foreach ($providers as $provider_item): ?>
				<?
					$provider = $provider_item->provider;
					$sort_order = $provider_item->sort_order;
				?>
				<tr class="<?=Phpr_Html::zebra('providers') ?>">
					<td class="list-icon">
						<a href="javascript:;" 
							class="sort-handle has-tooltip" 
							onclick="return false" title="Reorder top providers">
							<i class="icon-resize-vertical"></i>
						</a>
						<input type="hidden" class="provider_ids" name="provider_ids[]" value="<?=$provider->id ?>" />
						<input type="hidden" class="provider_order" name="provider_order[]" value="<?=$sort_order ?>" />
					</td>
					<td class="list-checkbox">
						<input name="list_ids[]" class="list_cb checkbox" type="checkbox" value="<?=$provider->id ?>" onclick="Admin_Page.listCheckSingle(this)" />
					</td>
					<td class="current"><?=h($provider->business_name) ?></td>
					<td><?=h($provider->id) ?></td>
					<td class="list-icon last">
						<a href="javascript:;"
							onclick="return $(this).phpr().post('on_remove_provider', { 
								data: { provider_id: '<?=$provider->id ?>' }, 
								confirm: 'Do you really want to remove this provider from the group?', 
								afterUpdate: make_providers_sortable, 
								update: '#provider_list', 
								loadIndicator: { element: '#provider_list', show: true, hideOnSuccess: true }
							}).send();" 
							title="Remove provider" 
							class="has-tooltip delete">
							<i class="icon-remove"></i>
						</a>
					</td>
				</tr>
			<? endforeach ?>
		<? endif ?>
	</tbody>
</table>