<ul class="nav">
	<li><?=cp_button('New service provider', 'plus', url('/service/providers/create')) ?></li>
	<li class="divider-vertical"></li>
	<li><?=cp_button('Provider groups', 'group', url('/service/provider_groups')) ?></li>
</ul>
