<? Admin_Breadcrumb::add('Services', 'services')->add($this->app_page_title);?>
<? Phpr_View::begin_block("head") ?>
	<script type="text/javascript" src="modules/service/assets/scripts/js/provider.js"></script>
<? Phpr_View::end_block() ?>
<? Phpr_View::begin_block("view") ?>
	<?=flash()?>

	<? if (!isset($fatal_error)): ?>
		<div class="form-750">
			<?=Phpr_Form::open_tag() ?>

				<? $this->form_render() ?>

				<div id="fixed-toolbar" class="top">
					<div class="form-toolbar">
						<?=admin_ajax_button('Create', $this->get_event_handler('on_save'), array('class'=>'btn-success')) ?>
						<?=admin_ajax_button('Create and Close', $this->get_event_handler('on_save'), array('class'=>'btn-primary'), "extraFields: {create_close: 1}") ?>
						<?=admin_ajax_button('Cancel', $this->get_event_handler('on_cancel')) ?>
					</div>
				</div>

			</form>
		</div>
	<? else: ?>
		<p><a href="<?= url('service/providers') ?>">Return to the provider list</a></p>
	<? endif ?>
<? Phpr_View::end_block() ?>