<? Admin_Breadcrumb::add('Services', 'services')->add($this->app_page_title);?>
<? Phpr_View::begin_block("head") ?>
	<script type="text/javascript" src="modules/service/assets/scripts/js/provider.js"></script>
<? Phpr_View::end_block() ?>
<? Phpr_View::begin_block("view") ?>
	<?=flash()?>

	<? if (!isset($fatal_error)): ?>
		<div class="form-750">
			<?=Phpr_Form::open_tag() ?>

				<? $this->form_render() ?>

				<div id="fixed-toolbar" class="top">
					<div class="form-toolbar">
						<?= admin_ajax_button('Save', 'edit_on_save', array('class'=>'btn-success'), "beforeSend: function(){phprTriggerSave();}, data: {redirect: 0}, customIndicator: LightLoadingIndicator") ?>
						<?= admin_ajax_button('Save and Close', 'edit_on_save', array('class'=>'btn-primary'), "beforeSend: function(){phprTriggerSave();}") ?>
						<?= admin_ajax_button('Cancel', 'edit_on_cancel') ?>
						<?= admin_ajax_button('Delete', 'edit_on_delete', array('class'=>"btn-danger pull-right"), "confirm: 'Do you really want to delete this provider?'") ?>
					</div>
				</div>

			</form>
		</div>
	<? else: ?>
		<p><a href="<?= url('service/providers') ?>">Return to the provider list</a></p>
	<? endif ?>
<? Phpr_View::end_block() ?>