<? Admin_Breadcrumb::add('Service', 'service/providers')->add($this->app_page_title);?>
<? Phpr_View::begin_block("view") ?>
	<? if (!isset($fatal_error)): ?>
		<div class="form-750">
			<? $this->form_render_preview() ?>
			<?=form_open()?>
				<div class="form_toolbar">
					<?=admin_button('Return to the provider list', url('/service/providers')) ?>
					<?=admin_button('Edit provider', array('href'=>url('/service/providers/edit/'.$form_model->id), 'class'=>'green')) ?>
				</div>
			<?=form_close()?>
		</div>
	<? else: ?>
		<?=flash()?>
		<p><a href="<?= url('service/providers') ?>">Return to the provider list</a></p>
	<? endif ?>
<? Phpr_View::end_block() ?>