<p><?=__('Please enter your credit card information')?></p>

<?=form_open() ?>
	<?=flash_message() ?>
	<label><?=__('Credit Card Type')?></label>
	<ul class="block-grid four-up">
		<li class="cc_visa">
			<label for="cc_visa"><input autocomplete="off" type="radio" name="CREDITCARDTYPE" id="cc_visa" value="Visa"/> <?=__('Visa')?></label>
		</li>
		<li class="cc_mastercard">
			<label for="cc_mastercard"><input autocomplete="off" type="radio" name="CREDITCARDTYPE" id="cc_mastercard" value="MasterCard"/> <?=__('MasterCard')?></label>
		</li>
		<li class="cc_discover">
			<label for="cc_discover"><input autocomplete="off" type="radio" name="CREDITCARDTYPE" id="cc_discover" value="Discover"/> <?=__('Discover')?></label>
		</li>

		<li class="cc_amex">
			<label for="cc_amex"><input autocomplete="off" type="radio" name="CREDITCARDTYPE" id="cc_amex" value="Amex"/> <?=__('Amex')?></label>
		</li>
	</ul>

	<div class="row">
		<div class="six columns">
			<label for="FIRSTNAME"><?=__('Cardholder First Name')?></label>
			<div><input autocomplete="off" name="FIRSTNAME" value="" id="FIRSTNAME" type="text" /></div>
		</div>

		<div class="six columns">
			<label for="LASTNAME"><?=__('Cardholder Last Name')?></label>
			<div><input autocomplete="off" name="LASTNAME" value="" id="LASTNAME" type="text" /></div>
		</div>
	</div>

	<label for="ACCT"><?=__('Credit Card Number')?></label>
	<div><input autocomplete="off" name="ACCT" value="" id="ACCT" type="text" /></div>

	<div class="row">
		<div class="six columns">
			<label for="EXPDATE_MONTH"><?=__('Expiration Date - Month')?></label>
			<select autocomplete="off" name="EXPDATE_MONTH" id="EXPDATE_MONTH">
				<? for ($month=1; $month <= 12; $month++): ?>
					<option value="<?=$month ?>"><?=$month ?></option>
				<? endfor ?>
			</select>
		</div>

		<div class="six columns">
			<label for="EXPDATE_YEAR"><?=__('Expiration Date - Year')?></label>
			<select autocomplete="off" name="EXPDATE_YEAR" id="EXPDATE_YEAR">
				<?
				  $start_year = Phpr_DateTime::now()->get_year();
				  for ($year=$start_year; $year <= $start_year + 10; $year++): ?>
					<option value="<?=$year ?>"><?=$year ?></option>
				<? endfor ?>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="six columns">
			<label for="CSC">
				<?=__('CSC')?>
			</label>
			<div>
				<input autocomplete="off" name="CVV2" value="" id="CSC" type="text" />
				<span class="comment"><?=__("For MasterCard, Visa, and Discover, the CSC is the last three digits in the signature area on the back of your card. For American Express, it's the four digits on the front of the card.")?></span>
			</div>
		</div>
		<div class="six columns">
			<input type="button" onclick="return jQuery(this).phpr().post('payment:on_pay').send()" value="<?= __('Submit Payment') ?>" class="btn" />
		</div>
	</div>	
<?=form_close()?>