<p>Thank you for submitting your request with {site_name}.</p>
<p>
The name of the submission is:<br />
<strong>{request_title}</strong>
</p>
<p>
The link to your submission is:<br />
<strong>{request_link}</strong>
</p>
<p>Your submission has been offered to providers who match the criteria.</p>