<? $autoreturn_url = root_url('/api_pay_paypal_autoreturn', true); ?>
<?=$this->hint_render(
	'skrill_gateway', 
	'
	<h4 class="alert-heading">How to set up your Skrill account</h4>
	<ol>
		<li>Log in to your Skrill account</li>
		<li>Click the My Account link in the top menu</li>
		<li>Click Merchant Tools in the left column menu</li>
		<li>Under Secret Word, choose a unique word and enter it in the provided fields and enter the same word in the field below</li>
		<li>Click the Confirm button at the bottom of the page</li>
	</ol>
	',
	false
)?>
