.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.full-width-background-template .about-menu {
  margin-top: 20px;
}

body.full-width-background-template #site-content .image-container {
	min-height:300px;
	max-height:300px;
	border-bottom:1px solid #999;
	height:100%;
	display:block;
	overflow:hidden;
	position:relative;
	background-size: cover !important;
	background-position: center top !important;
}

body.full-width-background-template #site-content {
	padding-top:0px;
}

body.full-width-background-template #site-content .container {
	min-height:500px;
}

body.full-width-background-template #site-header {
	/**background: url('../../../../../images/menu_bottom_line.png') repeat-x bottom center;**/
	padding-bottom: 5px;
	box-shadow: 0px 1px 15px #CFCFCF;
}

.contentTable {
	background-color: #EBEBEB;
	color: #1C78C0;
	font-size: 13px;
	width: 100%;
	font-family: open_sansregular;
	margin: 20px 0px;
}

.contentTable td {
	padding:10px 8px;
}

.image-container .inner-panel {
	width: 550px;
	padding: 25px;
	background: rgba(27,27,27,0.45);
	color: #FFF;
	top: 19%;
	position: absolute;
	left: 15%;
	font-size: 18px;
	font-family: open_sanslight;
	line-height: 23px;
	border-radius: 4px;
}

.contentTable {
	background-color: #EFEFEF;
	color: #1C78C0;
	width: 100%;
	font-family: open_sansregular;
	margin: 20px 0px;
}

.contentTable td {
	padding:16px;
	font-size: 15px;
	font-weight: bold;
	font-family: open_sanslight;

}

.sub-text {
	font-size: 19px;
	color: #9bbb59;
	font-family: 'open_sansregular';
	line-height: 33px;
	text-align: center;
	font-weight: bold;
	margin: 45px 0px;
}

.sub-header {
	font-size: 32px;
	color: #444;
	font-family: 'open_sanslight';
	line-height: 32px;
	text-align: center;
	margin-bottom: 70px;
}

.pageLinks {
	font-size: 28px;
	color: #444;
	font-family: 'open_sansregular';
	line-height: 32px;
	text-align: center;
	margin: 60px 0px;
}

.pageLinks a.homeowner { color:#208BDE; }

.pageLinks a.pro { color:#84A90D; }