.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.home-template #site-title {
  padding: 2em 0;
  margin: 0 0 1em 0;
  background: url('../../../../../images/textures/wood.png') #e9e9e9 repeat;
  -webkit-box-shadow: inset 0 5px 5px -5px #999, inset 0 -5px 5px -5px #999;
  -moz-box-shadow: inset 0 5px 5px -5px #999, inset 0 -5px 5px -5px #999;
  box-shadow: inset 0 5px 5px -5px #999, inset 0 -5px 5px -5px #999;
}
body.home-template #site-title h1 {
  font-size: 48px;
  color: #000000;
  line-height: 1;
}
body.home-template #site-title .banner {
  background: #ffffff;
  padding: 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #333333 1px 1px 1px;
  -moz-box-shadow: #333333 1px 1px 1px;
  box-shadow: #333333 1px 1px 1px;
}
body.home-template #site-title .banner form {
  margin: 0;
}
body.home-template #site-title .banner #featured-providers {
  margin-bottom: 0;
}
body.home-template #site-title .sub_banner {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #333333 1px 1px 1px;
  -moz-box-shadow: #333333 1px 1px 1px;
  box-shadow: #333333 1px 1px 1px;
  background: #ffffff;
  height: 130px;
  margin-top: 2em;
  text-align: center;
  position: relative;
  cursor: pointer;
}
body.home-template #site-title .sub_banner h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  color: #666666;
}
body.home-template #site-title .sub_banner .icon {
  height: 62px;
  line-height: 62px;
  font-size: 62px;
  position: relative;
  top: 18px;
  left: -10px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  color: #3980bd;
  text-shadow: 1px 1px 1px #ccc;
}
body.home-template #site-title .sub_banner:hover h3 {
  color: #111111;
}
body.home-template #site-title .sub_banner:hover .icon {
  opacity: 1;
  filter: alpha(opacity=100);
}



/************************Custom Design******************************/

/*Slider */
.home-page .slider  {
padding: 0;
text-align:center;
}
.home-template .carousel  {background: url("../../../../../images/backimage.jpg") no-repeat scroll 0 -70px rgba(0, 0, 0, 0); padding: 230px 0;}
/*.box-wrapper{float:none; border: 5px solid #8eb60c; padding:10px 35px;color:#3b444a; background-color:#ffffff;}  old css style */
.box-wrapper{float: none;border: none;margin: 0px auto !important;padding:35px 20px 20px;color: #3b444a;background-color: rgba(27,27,27,0.45);min-height: 75px;border-radius: 3px;}
.box-wrapper h3{margin-bottom:3%}
.box-wrapper .row-fluid.slideInner {margin: 16px 65px;width: auto;}
.box-wrapper .sbox{font-size:16px; color: #208bde;border:1px solid #b2b2ac;padding: 0px 10px 15px;}
.box-wrapper .rbox{font-size:16px; color: #208bde;border:1px solid #b2b2ac;padding: 0px 15px 15px;}
.box-wrapper .mid-box{width:7%}
.box-wrapper .sbox p{color: #777;font-size: 14px;line-height: 18px;}
.box-wrapper .sbox .box-title{font-size:16px;font-family:open_sanssemibold;background-color: #fff;margin: -9px auto 12px;width: 70%}
.box-wrapper .rbox .box-title{font-size:16px;font-family:open_sanssemibold;background-color: #fff;margin: -9px auto 12px;width: 70%}
.box-wrapper .rbox p{color: #777;font-size: 14px;line-height: 18px;}

.box-wrapper .searchTitle {
	padding: 18px 10px;
	margin: 0px;
	background: #1b1b1b;
	color: #FFF;
	font-family: 'open_sanslight';
	font-weight: normal;
	font-size: 18px;
	border-radius: 3px;
}
.box-wrapper .searchInput {
	padding: 10px;
	border: 3px solid #3c9ae0;
	color: #1b1b1b;
	font-size: 18px;
	min-height: 55px;
	border-radius: 3px;
}
.box-wrapper .searchInput:focus {
	border: 3px solid #56b444;
}
.box-wrapper .btn-search{
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	text-shadow: none;
	padding: 18px 40px;
	margin: 0px;
	background: #3c9ae0;
	color: #FFF;
	font-family: 'open_sanslight';
	font-weight: normal;
	font-size: 18px;
	border-radius: 3px !important;
}

.textalignleft {
	text-align:left;
}

.onlineCount {
	color:#FFF;
	font-size:14px;
	font-family: 'open_sanslight';
	font-weight: normal;
	line-height: 32px;
}

.box-wrapper .btn-search:hover {
	background:#7ea800;
}

/*Home middle menu */
#middle-menu{padding:0;position:relative;margin:-70px 0px 0px;}
.midhead{font-size: 36px; text-align:center;background-color:#26282c}
.midhead-top {background:url('../../../../../images/help-top.png') no-repeat top center; height:20px; display:block; position: initial;top: -20px;width: 100%;}
.midhead .midtext{width:auto;height:45px;}
.midhead .green{color:#8cba00; font-family: Rockwell;}
.midhead .blue{color: #208bde; font-family: Rockwell;}
.midmenu{background-color:#292c31; padding: 10px 2px 10px;color:#c3d1e8}
.menu-middle { -moz-column-count: 3;-moz-column-gap: 20px;-webkit-column-count: 3;-webkit-column-gap: 42px;column-count: 4;column-gap: 20px;margin: 10px 10px;}
.menu-middle li{list-style: none;padding: 8px 0px;} 
.menu-middle > li > a{color:#c3d1e8; text-decoration:none; font-size:17px; font-family:'open_sansregular';}

/*Home message */
#home-mes{padding:30px 0px 0px;}
.mes-wrapper{background:#fff;}
.message{margin-top:20%;text-align:right;}
.message h3{color: #208bde;font-size:35px;font-family:'open_sansregular';}
.message p{text-align:right;font-size:24px;color: #898989;margin-bottom:25px;line-height:34px;}
.message > p > span.green{color:#8cba00; font-family: Rockwell; font-size:24px;}
.message > p > span.blue{color: #208bde; font-family: Rockwell; font-size:24px;}
.message .btn-default{background-color: #8cba00;border-radius: 4px;text-shadow: none;box-shadow: none;background-image: none;color: #fff;font-size: 16px;width: auto;padding: 18px;font-family: open_sanslight;}
.message .btn-default:hover{background-color: #7ea800;}
.message .btn-default i { margin-top: 4px; }


/*Home Mid text */
#home-midtext{padding:0;background:url('../../../../../images/midbg.png') no-repeat 0 0; }
#home-midtext .midtext{font-family: open_sanslight; font-size: 40px; color: #1f1f1f;text-align:center;padding:50px 0}
.midtext > p {padding:10px 0px 0px; line-height: 45px;}
.menu-middle > li > a{color:#c3d1e9; text-decoration:none;}

/*Home location */
#wombidslocation{padding:35px 0 25px; background-color:#292c31;color:#c3d1e9;}
.wblocation .ltitle{text-align:center;font-family: open_sanslight; font-size: 40px; color: #8cba00;}
.wblocation {padding:40px 0;}
.wblocation > p > span.blue{color: #208bde; font-family: open_sanslight;}
.locations {margin-bottom:10px;}
.locations ul{list-style: none;-moz-column-count: 5;-moz-column-gap: 10px;-webkit-column-count: 5;-webkit-column-gap: 10px;column-count: 5;column-gap: 10px;}

.locations > ul > li > a{color: #F9F9F9; text-decoration: none; font-size: 16px; line-height: 40px; text-transform: uppercase;}
.locations > ul > li {padding-bottom:5px; color: #c3d1e9;text-decoration: none;font-size: 18px;line-height: 40px; text-align:center;margin-bottom:30px;}


.locations .provider-icon { width:90px; height:75px; display:block; margin:0px auto; }

.locations .air-condition { background:url('../../../../../images/icons/provider/air_conditioning.png') no-repeat center center; }

.locations .cabinet { background:url('../../../../../images/icons/provider/cabinet.png') no-repeat center center; }

.locations .carpenter { background:url('../../../../../images/icons/provider/carpenter.png') no-repeat center center; }

.locations .carpet { background:url('../../../../../images/icons/provider/carpet.png') no-repeat center center; }

.locations .cleaning { background:url('../../../../../images/icons/provider/cleaning.png') no-repeat center center; }

.locations .insulation { background:url('../../../../../images/icons/provider/insulation.png') no-repeat center center; }

.locations .fences { background:url('../../../../../images/icons/provider/fences.png') no-repeat center center; }

.locations .flooring { background:url('../../../../../images/icons/provider/flooring.png') no-repeat center center; }

.locations .garage { background:url('../../../../../images/icons/provider/garage.png') no-repeat center center; }

.locations .junk { background:url('../../../../../images/icons/provider/junk.png') no-repeat center center; }

.locations .landscape { background:url('../../../../../images/icons/provider/landscape.png') no-repeat center center; }

.locations .trees { background:url('../../../../../images/icons/provider/trees.png') no-repeat center center; }

.locations .painting { background:url('../../../../../images/icons/provider/painting.png') no-repeat center center; }

.locations .plumbing { background:url('../../../../../images/icons/provider/plumbing.png') no-repeat center center; }

.locations .swimming { background:url('../../../../../images/icons/provider/swimming.png') no-repeat center center; }

.locations .road { background:url('../../../../../images/icons/provider/road.png') no-repeat center center; }

/*Home howwork */
#howwork{padding:0; background-color:#fff}
.how-works h3{font-family: open_sanslight; font-size: 52px;text-align:center; color: #81817d;margin:34px 0}
#howwork .hown{text-align:center;border-right: 2px dotted #bbb;border-top: 2px dotted #bbb;margin-bottom:50px;}
#howwork .hown  h4,#howwork .hser  h4{font-family: 'open_sansregular';border-bottom: 2px dotted #bbb;padding-bottom: 10px;font-size:28px;}
#howwork .hown .blue{color:#208bde;}
#howwork .hown .green{color:#84a90d;}
#howwork .hown .row{color:#208bde;padding:15px;background:url("../../../../../images/left.png") no-repeat;}
#howwork .hown .row span, #howwork .hser .row span{font-family: 'open_sansregular';font-size: 24px;}
#howwork .hown .row small, #howwork .hser .row small{color: #999;font-size: 15px;line-height: 22px;}
#howwork .hser{text-align:center;border-top: 2px dotted #bbb;margin-bottom:50px;margin-left:0px;}
#howwork .hser .green{color:#84a90d;}
#howwork .hser .blue{color:#208bde;}
#howwork .hser .row{color:#84a90d; padding:15px;}
#howwork .hser  .btn-default{background-color: #208bde;border-radius: 3px;text-shadow: none;box-shadow: none;background-image: none;color: #fff;font-size: 21px;width: auto;display: inline-block;padding: 10px 20px;font-family: open_sanslight;}
#howwork .hown  .btn-default{background-color: #8cba00;border-radius: 3px;text-shadow: none;box-shadow: none;background-image: none;color: #fff;font-size: 21px;width: auto;display: inline-block;padding: 10px 20px;font-family: open_sanslight;}
#howwork .hser  .btn-default:hover{background-color: #1c78c0;}
#howwork .hown  .btn-default:hover{background-color: #7ea800;}

/*Home Testimonial*/
#cspeak{background-color:#3a3e46;padding:0;}
.speaks .speak-title{font-family: open_sanslight; font-size: 36px; text-transform: uppercase; color: #f7f7ef;text-align:center;background-color:#292c31;padding: 18px 0px;}
.speaks .item-writer{color:#fff;}
.speaks .speak-items{margin:20px auto; position:relative;}
.speech-bubble {
  position:relative;
  padding:15px;
  margin:1em 0 1.2em;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.speaks .item-writer img {
	max-width: 50px;
	border: 4px solid #C9C9C9;
	margin-right:15px;
}

.speech-bubble:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
.speech-bubble:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:40%; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

body.home-template #site-footer {
	margin-top: 0px;
}

/* Footer */
.footer{background: #27292d;}
.footer .thead{ font-size: 41px; color: #1f87d7;margin-bottom:10px;}
.footer .thead span.slg{font-size: 10px;margin-left: -23%;vertical-align: bottom;}
.footer .thead .green{color:#8cba00; font-family: Rockwell}
.footer .thead .blue{color: #208bde; font-family: Rockwell} 
.footer .thead p{font-family: open_sanslight; font-size: 12px; padding-top:15%;margin:0;}
.footer .thead p a{padding-left: 5px}
.footer .thead a{color: #b2b2ac;}
.footer .line{ -webkit-box-shadow: 0 1px 2px #555; -moz-box-shadow: 0 1px 2px #555; background:#000; box-shadow: 0 1px 2px #555; height: 1px;margin-bottom:10px; }
.footer .fmtitle {font-family: open_sanslight; font-size: 18px; color: #d2d2cb;margin:5px 0}
.footer .foot-links a{font-size: 12px; color: #b2b2ac;font-family:open_sanslight;text-decoration:none;}
.footer .foot-links li{list-style: none;margin-bottom:3px}
.footer .fcopy{	font-family: open_sanslight; color: #b2b2ac;text-align:right;padding: 20px 60px 15px 0px;font-size:12px;}
.footer .fsocial{margin: 15px 0px 0 40px;overflow: hidden;}
.footer .fsocial a{color:#FFFFFF;}
.footer .fsocial div .badge{font-size:18px;border-radius:12px;padding:4px 8px}
.footer .fsocial div{float: left; margin:0 5px;}
.footer .fbadge{background-color:#777;border-radius: 10px;display: inline-block;padding: 3px 7px;text-align: center;line-height:1}
.footer .gbadge{background-color:#777;border-radius: 10px;display: inline-block;padding: 3px 5px;text-align: center;line-height:1}
.footer .tbadge{background-color:#777;border-radius: 10px;display: inline-block;padding: 3px 5px;text-align: center;line-height:1}
.footer .rbadge{background-color:#777;border-radius: 10px;display: inline-block;padding: 3px 5px;text-align: center;line-height:1}
.footer .pbadge{background-color:#777;border-radius: 10px;display: inline-block;padding: 3px 5px;text-align: center;line-height:1}