<p>This email is to confirm that your booking with {provider_business_name} has been cancelled on {current_date}.</p>
<p>
<strong>{request_title} Request</strong><br />
<strong>{request_link}</strong>
</p>
<p>Thank you for using {site_name} for your service needs.</p>