<div class="alert alert-success">An email has been sent to your email address with password restore instructions.</div>

<div class="form-actions">
	<input type="submit" value="OK" class="btn btn-primary" onclick="window.location = '<?=url('admin/auth/login') ?>'" />
</div>
