<div class="alert alert-success">Your password has been successfully updated. You can now log in with your new password.</div>

<div class="form-actions">
	<input type="submit" value="OK" class="primary_button" onclick="window.location = '<?=url('admin/auth/login') ?>'" />
</div>