<ul class="nav">
	<li><?=cp_button('New category', 'plus', url('service/categories/create')) ?></li>
	<li class="divider-vertical"></li>
    <li><?=cp_button('Import from CSV', 'download-alt', url('service/categories/import')) ?></li>
    <li><?=cp_button('Export to CSV', 'upload-alt', url('service/categories/export')) ?></li>
</ul>