<p>This is to confirm that {provider_business_name} has flagged your request as <strong>{request_status}</strong> on {current_date}.</p>
<p>{request_title}<br /><strong>{request_link}</strong></p>
<p>Thank you for using {site_name} for your service needs.</p>