<? Admin_Breadcrumb::add('Fees', 'payment/fees')->add($this->app_page_title);?>
<? Phpr_View::begin_block("head") ?>
    <script type="text/javascript">
        var action_menu_id = 'Shop_CatalogPriceRule_action_class_name';
    </script>
    <script src="modules/payment/assets/scripts/js/fee_form.js" type="text/javascript"></script>
<? Phpr_View::end_block() ?>
<? Phpr_View::begin_block("view") ?>

    <?=flash()?>

    <? if (!isset($fatal_error)): ?>
        <div class="form-500">
            <?=Phpr_Form::open_tag() ?>
                <input type="hidden" value="0" name="redirect"/>
                
                <? $this->form_render() ?>

                <div id="fixed-toolbar" class="top">
                    <div class="form-toolbar">
                        <?=admin_ajax_button('Save', 'create_on_save', array('class'=>'btn-success')) ?>
                        <?=admin_ajax_button('Cancel', 'create_on_cancel', array('class'=>'')) ?>
                    </div>
                </div>
                
            </form>
        </div>
    <? else: ?>
        <p><a href="<?= url('payment/fees') ?>">Return to the fee list</a></p>
    <? endif ?>
<? Phpr_View::end_block() ?>