<? Phpr_View::begin_block("head") ?>    
    <script src="modules/payment/assets/scripts/js/fee_list.js" type="text/javascript"></script>
    <link rel="stylesheet" href="modules/payment/assets/stylesheets/css/fee_list.css" type="text/css"/> 
<? Phpr_View::end_block() ?>
<? Phpr_View::begin_block("view") ?>
    <div class="navbar">
    	<div class="navbar-inner">
	        <ul class="nav">
	            <li><?=cp_button('New fee', 'plus', url('/payment/fees/create')) ?></li>
	        </ul>
	    </div>
    </div>
    <? $this->display_partial('fees_container') ?>
<? Phpr_View::end_block() ?>