<p><strong>Congratulations!</strong> Your quote on {site_name} has been accepted by this customer.</p>
<p>
<strong>Request:</strong><br />
{request_title}
</p>
<p>
<strong>Location:</strong><br />
{request_location}
</p>
<p>
To view this request:<br />
{request_link}
</p>
<p>Thank you for using {site_name} for your service needs.</p>