<? Admin_Breadcrumb::add('Settings', 'admin/settings')->add($this->app_page_title);?>

<? Phpr_View::begin_block("view") ?> 
    <?=flash()?>
    <? if (!isset($fatal_error)): ?>
        <div class="form-500">
            <?=form_open(array('id'=>'settings_form'))?>
                <input type="hidden" name="widget_model_class" value="<?= get_class($form_model) ?>"/>
                
                <? $this->form_render($form_model) ?>

                <div id="fixed-toolbar" class="top">
                    <div class="form-toolbar">
                        <?=admin_ajax_button('Save', 'index_on_save', array('class'=>'btn-success')) ?>
                        <?=admin_button('Cancel', array('href'=>url('admin/settings'))) ?>
                    </div>
                </div>
                
            <?=form_close()?>
        </div>
    <? else: ?>
        <p><a href="<?= url('admin/settings') ?>">Return to the settings page</a></p>
    <? endif ?>
<? Phpr_View::end_block() ?>