<p>Unfortunately your quote on {site_name} was not accepted by this customer.</p>
<p>
<strong>Request:</strong><br />
{request_title}
</p>
<p>
<strong>Location:</strong><br />
{request_location}
</p>
<p>
To view this request:<br />
{request_link}
</p>
<p>We hope you are not too discouraged and wish you all the best with your next quote!</p>