<p><strong>Congratulations!</strong> Your price quote has been accepted by a customer.</p>
<table cellpadding="15">
<tbody>
<tr>
<td valign="top" width="100">Customer:</td>
<td valign="top">
<h4>{user_name}</h4>
</td>
</tr>
<tr>
<td valign="top">Contact details:</td>
<td valign="top">{user_street_addr}<br />{user_city}, {user_state} {user_zip}</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">
<div>-</div>
</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">{user_phone}</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">{user_mobile}</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">{user_email}</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">
<div>-</div>
</td>
</tr>
<tr>
<td valign="top">Quote:</td>
<td valign="top">
<h4>{quote_price}</h4>
</td>
</tr>
<tr>
<td valign="top">&nbsp;</td>
<td valign="top">{quote_summary}</td>
</tr>
<tr>
<td valign="top">Start Time:</td>
<td valign="top">{quote_start_at}</td>
</tr>
<tr>
<td valign="top">Note:</td>
<td valign="top">{quote_comment}</td>
</tr>
</tbody>
</table>
<p>For more information, visit your request page:<br /><strong>{request_url}</strong></p>
<p>Thank you for using {site_name} to find new customers.</p>