<? $autoreturn_url = root_url('/api_pay_paypal_autoreturn', true); ?>
<?= $this->hint_render(
	'paypal_standard_gateway', 
	'
	<h4 class="alert-heading">How to set up your PayPal account</h4>
	<ol>
		<li>Log in to your PayPal account</li>
		<li>Click the Profile link in the top menu</li>
		<li>Click Website Payment Preferences in the Selling Preferences column</li>
		<li>Under Auto Return for Website Payments, click the <strong>On</strong> radio button</li>
		<li>For the Return URL, enter <a href="'.$autoreturn_url.'" onclick="return false">'.h($autoreturn_url).'</a></li>
		<li>Under Payment Data Transfer, click the <strong>On</strong> radio button</li>
		<li>Click Save. After saving  you should see the Payment Data Transfer token which you must specify in the field below</li>
	</ol>
	',
	false
)?>
