.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.account-page .tab-pane.account .block {
  padding: 0.5em 0;
}
body.account-page .tab-pane.account .edit-link {
  float: right;
}
body.account-page .tab-pane.account .block-title {
  border-bottom: 1px solid #dddddd;
  padding: 0 0 0.3em 0;
  margin: 0;
  color: #333333;
}
body.account-page .tab-pane.account .view {
  padding: 0.3em 0 0 0;
}
body.account-page .tab-pane.account .view .block-value,
body.account-page .tab-pane.account .view .block-summary {
  width: 50%;
  padding: 0.3em 0 0 0;
}
body.account-page .tab-pane.account .view .block-value {
  float: right;
  text-align: right;
}
body.account-page .tab-pane.account .view .block-summary {
  float: left;
  color: #339933;
}
@include clearfix;
body.account-page .tab-pane.account .edit {
  padding: 0.5em 0;
}
body.account-page .tab-pane.account .edit div.field_left {
  width: 49%;
  float: left;
}
body.account-page .tab-pane.account .edit div.field_right {
  width: 49%;
  float: right;
  text-align: left;
}
body.account-page .tab-pane.account .edit label {
  padding-bottom: .2em;
}
body.account-page .tab-pane.account .edit select {
  margin-bottom: 1em;
}
body.account-page .tab-pane.account .edit .cancel-text {
  font-size: 12px;
}



body.account-page .tab-pane#withdraw_profiles .block {
  padding: 0.5em 0;
}
body.account-page .tab-pane#withdraw_profiles .edit-link {
  float: right;
}
body.account-page .tab-pane#withdraw_profiles .block-title {
  border-bottom: 1px solid #dddddd;
  padding: 0 0 0.3em 0;
  margin: 0;
  color: #333333;
}
body.account-page .tab-pane#withdraw_profiles .view {
  padding: 0.3em 0 0 0;
}
body.account-page .tab-pane#withdraw_profiles .view .block-value,
body.account-page .tab-pane#withdraw_profiles .view .block-summary {
  width: 50%;
  padding: 0.3em 0 0 0;
}
body.account-page .tab-pane#withdraw_profiles .view .block-value {
  float: right;
  text-align: right;
}
body.account-page .tab-pane#withdraw_profiles .view .block-summary {
  float: left;
  color: #339933;
}
@include clearfix;
body.account-page .tab-pane#withdraw_profiles .edit {
  padding: 0.5em 0;
}
body.account-page .tab-pane#withdraw_profiles .edit div.field_left {
  width: 49%;
  float: left;
}
body.account-page .tab-pane#withdraw_profiles .edit div.field_right {
  width: 49%;
  float: right;
  text-align: left;
}
body.account-page .tab-pane#withdraw_profiles .edit label {
  padding-bottom: .2em;
}
body.account-page .tab-pane#withdraw_profiles .edit select {
  margin-bottom: 1em;
}
body.account-page .tab-pane#withdraw_profiles .edit .cancel-text {
  font-size: 12px;
}




body.account-page .tab-pane.profiles {
  padding-bottom: 2em;
}
body.account-page .tab-pane.profiles .profile {
  padding: 0 1.5em;
}
body.account-page .tab-pane.profiles .row {
  border-bottom: 1px solid #dddddd;
  padding: 0.2em 0;
  line-height: 26px;
}
body.account-page .tab-pane.profiles .role_name {
  font-size: 16px;
}
body.account-page .tab-pane.profiles .status.active {
  color: #339933;
}
body.account-page .tab-pane.notifications .block-grid {
  margin: 0;
  padding: 0;
}
body.account-page .tab-pane.notifications .notification_title {
  margin: 0;
  margin-top: 1.2em;
}
@include reset;
body.account-page .tab-pane.notifications .notification_block {
  border-top: 1px solid #dddddd;
}
body.account-page .tab-pane.notifications .notification_block p {
  font-size: 13px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0.7em;
}
body.account-page .tab-pane.notifications .notification_block .custom.checkbox {
  margin: 0;
  padding: 0;
  top: 0.7em;
}
body.account-page .tab-pane.history .link-list a.active {
  color: #000;
}
body.account-page .tab-pane.history .row.titles .columns strong {
  display: block;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.2em;
  margin-bottom: 01em;
  font-weight: bold;
}
