.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.home-page {
  padding-top: 0px;
}
body.home-page .usage-reasons {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
  margin-bottom: 20px;
}
body.home-page .usage-reasons .label {
  margin-right: .5em;
}
body.home-page .usage-reasons li {
  padding-bottom: .2em;
}
body.home-page .popular-categories .box-content {
  padding: 20px 10px 2px;
}
body.home-page .popular-categories ul {
  position: relative;
  margin-bottom: 20px;
}
body.home-page .popular-categories ul li {
  padding-bottom: 2px;
  font-size: 11.9px;
}
body.home-page .latest_blog .title {
  font-weight: bold;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #dddddd;
}
body.home-page .latest_blog .date {
  font-weight: normal;
  color: #666666;
  font-size: 13px;
}
body.home-page #p_activity_feed ul {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.home-page #p_activity_feed li.item .avatar {
  width: 80px;
  height: 80px;
  float: left;
}
body.home-page #p_activity_feed li.item .title {
  margin-bottom: 0;
}
body.home-page #p_activity_feed li.item .title small {
  color: #666666;
  font-size: 12px;
}
body.home-page #p_activity_feed li.item .title,
body.home-page #p_activity_feed li.item .subtitle,
body.home-page #p_activity_feed li.item .description,
body.home-page #p_activity_feed li.item .info {
  margin-left: 90px;
}
body.home-page #p_activity_feed li.item .description {
  color: #111111;
  padding: 0.5em 0;
  font-size: 13px;
  line-height: 1.6;
}
body.home-page #p_activity_feed li.item .info {
  font-size: 11px;
  color: #666666;
}
