.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.job-page .job-details .detail {
  font-weight: bold;
  font-size: 12px;
}
body.job-page .job-description .summary {
  padding-bottom: 1em;
}
body.job-page .well p {
  font-size: 13px;
}
body.job-page #p_quote_onsite div.price_column input {
  width: 75%;
  display: inline-block;
  margin: 0 0.2em;
}
body.job-page #p_quote_onsite div.price_column .divider {
  position: absolute;
  margin: 3px 0px 0px 12px;
}
body.job-page #p_quote_onsite .row {
  padding: 0.5em 0;
}
body.job-page #p_quote_flat_rate .labor_table,
body.job-page #p_quote_flat_rate .item_table {
  width: 100%;
}
body.job-page #p_quote_flat_rate .labor_table th,
body.job-page #p_quote_flat_rate .item_table th {
  font-size: 12px;
}
body.job-page #p_quote_flat_rate .labor_table td,
body.job-page #p_quote_flat_rate .item_table td {
  padding-bottom: 0;
}
body.job-page #p_quote_flat_rate .labor_table td.price input,
body.job-page #p_quote_flat_rate .item_table td.price input {
  width: 75px;
}
body.job-page #p_quote_flat_rate .labor_table td.price .currency,
body.job-page #p_quote_flat_rate .item_table td.price .currency {
  position: absolute;
  margin: 3px 0px 0px -10px;
}
body.job-page #p_quote_flat_rate .labor_table td.line_item,
body.job-page #p_quote_flat_rate .item_table td.line_item {
  width: 76%;
}
body.job-page #p_quote_flat_rate .labor_table td.line_item textarea,
body.job-page #p_quote_flat_rate .item_table td.line_item textarea {
  height: 50px;
}
body.job-page #p_quote_flat_rate .add_line_item {
  position: relative;
  top: -1em;
}
body.job-page #p_quote_flat_rate #link_add_line_item {
  background: url('../../../../../images/icons/add.png') no-repeat;
  padding-left: 20px;
}
@include reset;
body.job-page #p_quote_flat_rate .total_cost ul {
  overflow: hidden;
}
body.job-page #p_quote_flat_rate .total_cost li {
  width: 50%;
  display: block;
  height: auto;
  float: left;
}
body.job-page #p_quote_flat_rate .total_cost span.total_cost_label,
body.job-page #p_quote_flat_rate .total_cost span.total_cost_value {
  display: block;
  border: 1px solid #eeeeee;
  padding: 0.5em 0;
  line-height: 20px;
}
body.job-page #p_quote_flat_rate .total_cost .total_cost_value {
  font-weight: bold;
}
body.job-page #p_personal_message_flat textarea,
body.job-page #p_personal_message_onsite textarea {
  height: 120px;
}
body.job-page #p_personal_message_flat select,
body.job-page #p_personal_message_onsite select,
body.job-page #p_personal_message_flat .custom.dropdown,
body.job-page #p_personal_message_onsite .custom.dropdown {
  display: inline-block;
}
body.job-page #p_personal_message_flat .message_parting,
body.job-page #p_personal_message_onsite .message_parting {
  padding: 0.5em 0;
}
body.job-page #p_personal_message_flat .final_comment,
body.job-page #p_personal_message_onsite .final_comment {
  height: 200px;
}
body.job-page .final_note {
  padding: 20px 20px 0 20px;
  margin: 0 20px;
}
body.job-page #p_ask_question #job_questions {
  margin-left: 0;
}
body.job-page #p_ask_question #job_questions li {
  list-style: none;
  font-size: 13px;
  margin: 0;
  padding-bottom: 5px;
}
body.job-page #p_ask_question #job_questions li .question {
  font-weight: bold;
}
body.job-page #p_ask_question #job_questions li .answer {
  font-style: italic;
}
body.job-page #p_ask_question textarea {
  height: 75px;
}
body.job-page #p_quote_panel .tabs-content {
  background: #ffffff;
}
body.job-page #p_quote_panel table.quote_summary {
  margin-top: 1em;
  width: 100%;
}
body.job-page #p_quote_panel table.quote_summary th {
  font-size: 12px;
}
body.job-page #p_quote_panel table.quote_summary td.price,
body.job-page #p_quote_panel table.quote_summary th.price {
  width: 150px;
}
body.job-page #p_quote_panel .quote_title {
  margin-bottom: 1em;
}
body.job-page .job_ignore {
  text-align: right;
  font-size: 12px;
  position: relative;
  top: -1em;
}
