.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.message-page .message {
  border-bottom: 1px solid #dddddd;
}
body.message-page .message .date,
body.message-page .message .username {
  padding-top: 1em;
}
body.message-page .message .date {
  color: #666666;
  font-size: 13px;
  text-align: right;
}
body.message-page .message .username {
  font-weight: bold;
  padding-bottom: 0.5em;
  color: #666666;
}
body.message-page .message .message_content {
  padding-bottom: 1em;
}
body.message-page #form_message_reply fieldset {
  padding-bottom: 1em;
}
body.message-page #form_message_reply textarea {
  min-height: 100px;
  height: 100px;
  resize: none;
}
