.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.provide-create-page h4 a {
  font-size: 12px;
}
body.provide-create-page #link_work_hours,
body.provide-create-page #link_apply_all {
  margin-left: 0.5em;
}
body.provide-create-page #p_work_hours_form select {
  display: inline-block;
}
body.provide-create-page #p_work_hours_form div.row {
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  line-height: 23px;
}
body.provide-create-page #p_work_hours_form div.hide {
  font-style: italic;
}
body.provide-create-page #p_work_hours_form div.day_column {
  font-weight: bold;
}
body.provide-create-page #p_work_radius_form {
  position: relative;
}
body.provide-create-page #p_work_radius_form label {
  font-weight: bold;
}
body.provide-create-page #p_work_radius_form #work_radius_radius {
  float: right;
}
body.provide-create-page #p_work_radius_form .radius_slider #work_radius_slider {
  margin: 0 1em;
}
body.provide-create-page #p_work_radius_form .radius_slider #work_radius_slider_legend {
  margin: 0;
  padding: 0.5em 0 0 0;
}
body.provide-create-page #p_work_radius_form .radius_slider #work_radius_slider_legend li {
  list-style: none;
  float: left;
  width: 9.5%;
  text-align: center;
}
body.provide-create-page #p_work_radius_form .radius_slider #work_radius_slider_legend li.first {
  width: 5%;
  margin-left: 2%;
  text-align: left;
}
body.provide-create-page #p_work_radius_form .radius_slider #work_radius_slider_legend li.last {
  text-align: center;
  float: right;
  width: 5%;
}
body.provide-create-page #p_work_radius_form #work_radius_map {
  width: 100%;
  height: 300px;
}
body.provide-create-page #p_work_radius_form #work_radius_area_list {
  margin: 0;
  padding: 5px;
  border: 1px solid #dddddd;
  height: 300px;
  overflow: auto;
}
body.provide-create-page #p_work_radius_form #work_radius_area_list li {
  list-style: none;
}
body.provide-create-page #p_work_radius_form #work_radius.disabled {
  opacity: 0.35;
  filter: alpha(opacity=35);
}
body.provide-create-page #p_work_radius_form #work_radius_disabled {
  position: absolute;
  top: 150px;
  left: 0px;
  left: 50%;
  margin-left: -150px;
  padding: 2em;
  width: 300px;
  text-align: center;
  font-weight: bold;
}
