.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.request-manage-page p.small,
body.request-manage-page a.small {
  font-size: 14px;
}
body.request-manage-page .inner_panel {
  padding: 1em;
  margin: 1.5em 0 0 0;
}
body.request-manage-page div.page-header {
  margin-top: 0;
  padding-top: 0;
}
body.request-manage-page div.page-header h1 {
  font-size: 32px;
}
body.request-manage-page #p_status_panel .box-header .block-grid {
  margin: 0;
}
body.request-manage-page #p_status_panel .box-header .block-grid > li {
  padding: 0;
  line-height: 26px;
}
body.request-manage-page #p_status_panel h6 {
  line-height: 26px;
}
body.request-manage-page .request_cancel {
  text-align: right;
  font-size: 12px;
  position: relative;
  top: -1em;
}
body.request-manage-page #p_details {
  padding-bottom: 0.5em;
}
body.request-manage-page #p_details h5 {
  margin: 0;
}
body.request-manage-page #p_details h5 {
  margin-bottom: 0.1em;
}
body.request-manage-page #p_details p {
  color: #333333;
}
body.request-manage-page #p_details .request_description p,
body.request-manage-page #p_details .added_info p,
body.request-manage-page #p_details .request_time p,
body.request-manage-page #p_details .request_location p {
  font-size: 14px;
}
body.request-manage-page #panel_photos {
  width: 550px;
  min-height: 90px;
  *zoom: 1;
  padding-bottom: 0;
  padding-left: 0;
}
body.request-manage-page #panel_photos:before,
body.request-manage-page #panel_photos:after {
  display: table;
  content: "";
  line-height: 0;
}
body.request-manage-page #panel_photos:after {
  clear: both;
}
body.request-manage-page #panel_photos ul {
  margin-bottom: 0;
}
body.request-manage-page #panel_photos li {
  text-align: center;
  background: #ffffff;
}
body.request-manage-page #panel_photos li div.thumbnail {
  position: relative;
  min-height: 75px;
  min-width: 75px;
}
body.request-manage-page #panel_photos li div.thumbnail.loading {
  width: 100px;
  height: 75px;
  background: #ffffff url('../../../../../images/ajax_loading.gif') 50% 50% no-repeat;
}
body.request-manage-page #panel_photos li div.thumbnail a.remove {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url('../../../../../images/icons/close.png');
  width: 16px;
  height: 16px;
  display: none;
}
body.request-manage-page #panel_photos li div.thumbnail:hover a.remove {
  display: block;
}
body.request-manage-page #form_add_photos #input_add_photos {
  position: absolute;
  visibility: hidden;
}
body.request-manage-page #form_add_photos #link_add_photos {
  background: url('../../../../../images/icons/attach.png') no-repeat;
  padding-left: 20px;
}
body.request-manage-page #form_add_photos p,
body.request-manage-page #form_add_photos span {
  font-size: 14px;
}
body.request-manage-page #link_add_description {
  background: url('../../../../../images/icons/add.png') no-repeat;
  padding-left: 20px;
}
body.request-manage-page #link_add_description.remove {
  background-image: url('../../../../../images/icons/remove.png');
}
body.request-manage-page #panel_add_description textarea {
  height: 100px;
}
body.request-manage-page #link_add_description_cancel {
  font-size: 11px;
  padding-left: 0.5em;
}
body.request-manage-page #p_questions .answer_form {
  border: 1px solid #dddddd;
  padding: 1em 1em 0 1em;
  margin-bottom: 1em;
}
body.request-manage-page #p_questions .answer_form h6 {
  margin-bottom: 5px;
}
body.request-manage-page #p_questions .answer_form textarea {
  height: 75px;
  max-width: 100%;
  min-width: 100%;
}
body.request-manage-page #p_questions .answer_form .author,
body.request-manage-page #p_questions .answer_form .terms {
  padding-bottom: 0.5em;
}
body.request-manage-page #p_questions .answer_form .author {
  color: #555555;
  font-size: 12px;
}
body.request-manage-page #p_questions .answer_form .terms {
  font-size: 12px;
  font-style: italic;
  display: inline-block;
  margin-left: 0.5em;
}
body.request-manage-page #p_questions .answer_form p {
  font-size: 14px;
  margin-bottom: 0;
}
body.request-manage-page #p_questions .answer_form .controls {
  font-size: 11px;
  text-align: right;
}
body.request-manage-page #p_quotes .quote_list ul {
  margin: 0;
}
body.request-manage-page #p_quotes .quote_list ul li {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  position: relative;
}
body.request-manage-page #p_quotes .quote_list ul li .quote_item {
  padding: 15px 0 15px 15px;
}
body.request-manage-page #p_quotes .quote_list ul li .price {
  position: absolute;
  top: 15px;
  right: 10px;
}
body.request-manage-page #p_quotes .quote_list ul li .price span {
  font-size: 8px;
  position: relative;
  top: -5px;
}
body.request-manage-page #p_quotes .quote_list ul li .consult {
  position: absolute;
  top: 19px;
  right: 22px;
  font-size: 11px;
  font-weight: italic;
}
body.request-manage-page #p_quotes .quote_list ul li.active {
  cursor: default;
  background: url('../../../../../images/select_bg.png') 100% 50% no-repeat;
  border-left: 1px solid #ccc;
  padding-right: 33px;
}
body.request-manage-page #p_quotes .quote_list ul li.active .quote_item {
  width: 100%;
  padding-right: 0;
}
body.request-manage-page #p_quotes .quote_list ul li.active .price {
  position: absolute;
  top: 15px;
  right: 25px;
}
body.request-manage-page #p_quotes .quote_list ul li .icons span {
  display: block;
  float: left;
  margin: 2px;
  width: 16px;
  height: 16px;
}
body.request-manage-page #p_quotes .quote_list ul li .icons .chat {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background: url('../../../../../images/icons/chat.png') no-repeat 0 0;
}
body.request-manage-page #p_quotes .quote_list ul li .icons .note {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background: url('../../../../../images/icons/note.png') no-repeat 0 0;
}
body.request-manage-page #p_quotes .quote_panel .price {
  color: #333333;
  font-size: 32px;
}
body.request-manage-page #p_quotes .quote_panel .price span {
  font-size: 14px;
  position: relative;
  top: -12px;
  left: 3px;
}
body.request-manage-page #p_quotes .quote_panel .price_summary {
  padding-top: 3px;
}
body.request-manage-page #p_quotes .quote_panel .price_terms {
  font-style: italic;
}
body.request-manage-page #p_quotes .quote_panel .price_summary,
body.request-manage-page #p_quotes .quote_panel .price_terms {
  font-size: 12px;
  color: #333333;
  line-height: 1.4;
}
body.request-manage-page #p_quotes .quote_panel .logo {
  margin-bottom: 0.5em;
}
body.request-manage-page #p_quotes .quote_panel h3 {
  margin-bottom: 0.5em;
}
body.request-manage-page #p_quotes .quote_panel .location {
  margin-bottom: 1em;
}
body.request-manage-page #p_quotes .quote_panel p {
  font-size: 12px;
}
body.request-manage-page #p_quotes .quote_panel .booking_time {
  color: #333333;
  padding: 1em 0;
  font-weight: bold;
  line-height: 1.6;
}
body.request-manage-page #p_quotes .quote_panel .booking_time a {
  font-size: 12px;
}
body.request-manage-page #p_quotes .quote_panel .form_booking_time {
  margin-bottom: 0;
}
body.request-manage-page #p_quotes .quote_panel .form_booking_time .select_booking_time_time {
  float: left;
}
body.request-manage-page #p_quotes .quote_panel .form_booking_time .field_booking_time_date {
  margin-left: 110px;
}
body.request-manage-page #p_quotes .quote_panel .summary {
  padding-top: 1em;
}
body.request-manage-page #p_quotes .quote_panel .box-footer p.info {
  padding-top: 1em;
  font-style: italic;
}
body.request-manage-page #p_quotes .quote_panel .box-footer p.terms {
  padding-top: 0;
  font-style: italic;
}
body.request-manage-page #p_quotes .quote_panel .star-rating.overall {
  padding-top: 1em;
}
body.request-manage-page #p_quotes .quote_panel .star-rating.overall span {
  margin-left: 1em;
}
body.request-manage-page #p_quotes .quote_panel .star-rating.single {
  display: inline-block;
  position: relative;
  top: -3px;
  padding: 0;
  margin: 0;
  left: 5px;
}
body.request-manage-page .quote_popup .quote_details p.detail {
  font-weight: bold;
  font-size: 14px;
}
body.request-manage-page .quote_popup .customer_details input,
body.request-manage-page .quote_popup .customer_details select {
  margin-bottom: 1em;
}
body.request-manage-page .quote_popup .terms {
  padding-top: 0;
  font-style: italic !important;
}

body.request-manage-page .localSuggestionButton .btn-default {
	background-color: #8cba00;
	border-radius: 4px;
	text-shadow: none;
	box-shadow: none;
	background-image: none;
	color: #fff;
	font-size: 16px;
	width: 328px;
	padding: 18px;
	font-family: open_sanslight;
	vertical-align:top;
	margin:0px auto 10px;
}

body.request-manage-page .localSuggestionButton .btn-default:hover {
	background-color: #7ea800;
}