.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-background-image {
  background-image: none;
}
.reset {
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  list-style: none;
}
body.request-page .ring-badge {
  position: relative;
  top: -5px;
  left: -1px;
}
body.request-page .control-label {
  font-size: 18px;
}
body.request-page .request-section {
  padding-bottom: 20px;
}
body.request-page ul.radio-group {
  margin: .5em 0 0 0;
  list-style: none;
}
body.request-page ul.radio-group .control-group {
  margin-bottom: 0;
}
body.request-page ul.radio-group > li {
  padding: .2em 0;
}
body.request-page ul.radio-group > li label {
  color: #737373;
}
body.request-page ul.radio-group > li.selected label {
  color: #1e1e1e;
}
body.request-page ul.radio-group .radio-expand {
  margin-left: 1.2em;
}
body.request-page ul.radio-group .radio-expand.firm .firm-date-add {
  padding: 7px 0;
}
body.request-page ul.radio-group .radio-expand.firm .firm-date {
  display: inline-block;
}
body.request-page ul.radio-group .radio-expand.firm .validate-text {
  top: 5px;
}
body.request-page ul.radio-group select,
body.request-page ul.radio-group input {
  margin-bottom: 0;
}
body.request-page ul.radio-group select {
  display: inline-block;
  width: 110px;
}
body.request-page .location-remote {
  position: relative;
  top: -5px;
}
body.request-page #link_add_photos {
  background: url('../../../../../images/icons/attach.png') no-repeat;
  padding-left: 20px;
}
body.request-page #panel_photos {
  *zoom: 1;
  padding-bottom: 0;
  padding-left: 0;
}
body.request-page #panel_photos:before,
body.request-page #panel_photos:after {
  display: table;
  content: "";
  line-height: 0;
}
body.request-page #panel_photos:after {
  clear: both;
}
body.request-page #panel_photos ul {
  margin-bottom: 0;
}
body.request-page #panel_photos li {
  text-align: center;
  background: #ffffff;
}
body.request-page #panel_photos li div.thumbnail {
  position: relative;
  min-height: 75px;
  min-width: 75px;
}
body.request-page #panel_photos li div.thumbnail.loading {
  width: 100px;
  height: 75px;
  background: #ffffff url('../../../../../images/ajax_loading.gif') 50% 50% no-repeat;
}
body.request-page #panel_photos li div.thumbnail a.remove {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url('../../../../../images/icons/close.png');
  width: 16px;
  height: 16px;
  display: none;
}
body.request-page #panel_photos li div.thumbnail:hover a.remove {
  display: block;
}
body.request-page .form-actions {
	text-align:right;
}

body.request-page .form-actions .btn {
	margin-right:62px;
}

@media (max-width: 767px) {
  body.request-page #panel_photos ul {
    padding-left: 20px;
  }
}
@media (min-width: 1200px) {
  body.request-page .ring-badge {
    left: 5px;
  }
}
