<? Admin_Breadcrumb::add('Invoices', 'payment/invoices')->add($this->app_page_title);?>
<? Phpr_View::begin_block("head") ?>
	<script src="modules/payment/assets/scripts/js/invoice.js" type="text/javascript"></script>
<? Phpr_View::end_block() ?>
<? Phpr_View::begin_block("view") ?>

	<?=flash()?>

	<? if (!isset($fatal_error)): ?>
		<div class="form-650">
			<?=Phpr_Form::open_tag() ?>

				<? $this->form_render() ?>

				<div id="fixed-toolbar" class="top">
					<div class="form-toolbar">
						<?=admin_ajax_button('Create', 'create_on_save', array('class'=>'btn-success')) ?>
						<?=admin_ajax_button('Cancel', 'create_on_cancel') ?>
					</div>
				</div>

			</form>
		</div>
	<? else: ?>
	<p><a href="<?=url('payment/invoices') ?>">Return to the invoices list</a></p>
	<? endif ?>
<? Phpr_View::end_block() ?>