<? Admin_Breadcrumb::add('Invoices', 'payment/invoices')->add('Invoice', 'invoices/preview/'.$form_record_id)->add($this->app_page_title);?>
<? Phpr_View::begin_block("view") ?>

    <?=flash()?>

    <? if (!isset($fatal_error)): ?>

        <? if ($invoice->is_payment_processed()): ?>
            <p>Payment has been successfully accepted.</p>
        <? else: ?>
            <p>Payment was not accepted.</p>
        <? endif ?>

        <?=admin_button('Close', url('payment/invoices/preview/'.$invoice->id.'?'.uniqid())) ?>
        <div class="clear"></div>
    <? else: ?>
        <p><a href="<?= url('payment/invoices') ?>">Return to the invoice list</a></p>
    <? endif ?>
<? Phpr_View::end_block() ?>