<p>This is a reminder that your service request is being performed by {provider_business_name} tomorrow.</p>
<p>Appointment time: <strong>{quote_start_at}</strong></p>
<p>
Contact Details:<br />
{provider_name}<br />
{provider_street_addr}<br />
{provider_city}, {provider_state} {provider_zip}<br />
{provider_phone}<br />
{provider_mobile}<br />
{provider_email}
</p>
<p>
<strong>{request_title} Request</strong><br />
<strong>{request_link}</strong>
</p>
<p>Thank you for using {site_name} for your service needs.</p>