<p>A customer you contacted on {site_name} has answered another provider's question.</p>
<p>
Other provider's question:<br />
<strong>{question_description}</strong>
</p>
<p>
Their answer:<br />
<strong>{answer_description}</strong>
</p>
<p>
To ask your own question or submit a price quote:<br />
<strong>{request_title}</strong><br />
{request_link}
</p>