<p> Please click the button for the secure payment form </p>

<form action="<?= $payment_type->get_form_action($payment_type) ?>" method="post">
	<?
		$hidden_fields = $payment_type->get_hidden_fields($payment_type, $invoice);
	?>
	<? foreach ($hidden_fields as $name=>$value): ?>
		<? if (!is_array($value)): ?>
			<input type="hidden" name="<?= $name ?>" value="<?= h($value) ?>"/>
		<? else: ?>
			<? foreach ($value as $item): ?>
				<input type="hidden" name="<?= $name ?>" value="<?= h($item) ?>"/>
			<? endforeach ?>
		<? endif ?>
	<? endforeach ?>

	<input type="submit" class="btn" value="<?= __('Pay with Authorize.Net') ?>" />
</form>