<p>This email is to tell you that {from_user_name} has suggested an appointment time for your service.</p>
<p>
<strong>{request_title} Request</strong><br />
{request_link}
</p>
<p>
<strong>Suggested time</strong><br />
{quote_start_at}
</p>
<p>Thank you for using {site_name}.</p>