<p>This is a reminder that the bidding period for your request with {site_name} has ended.</p>
<p>
<strong>{request_title}</strong><br />
<strong>{request_link}</strong>
</p>
<p>You have 24 hours to either accept a quote from a provider or extend the time on this request.</p>
<p>After this period we will automatically close this request for you.</p>