a.fee_collapse_control {
    position: absolute;
    text-indent: -99999px;
    display: block;
    background: transparent url('../../images/expand.png') no-repeat 2px 1px;
    width: 16px; height: 16px;
    outline: none;
    left: 3px; top: 5px;
}

ul.fee_list li.collapsed a.fee_collapse_control { 
    background: transparent url('../../images/collapse.png') no-repeat 2px 1px; 
}

li.collapsed div.compound_content { 
    display: none; 
}

a.fee_delete_icon { position: absolute; text-indent: -99999px; display: block; background: transparent url('../../images/delete.png') no-repeat left top; width: 16px; height: 16px; outline: none; right: 5px; top: 5px; }

ul.fee_list { margin: 10px 0 0 0; list-style-type: none; }
ul.fee_list li.fee { margin-bottom: 10px; }
ul.fee_list li.fee a { color: #333333; text-decoration: none; }
ul.fee_list .fee { position: relative; padding-right: 12px; }
ul.fee_list .fee h4 a:hover { text-decoration: underline; } 

ul.fee_list .fee .fee_content_container {
    border: 1px solid #e0e0e0;
    background: #f3f3f3;
}

ul.fee_list .fee h4 {
    margin: 0;
    padding: 8px 6px 7px 25px;
    font-size: 14px;     
    color: #333333;
    background: #c3e3ff url('../../images/head_bg.png') repeat-x 0 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}

div.fee_description { 
    padding: 5px 10px 5px 10px; background: #f5f5f5; border-top: 1px solid #fff; 
}

div.fee_info {
    padding: 5px 10px 5px 10px;
    background: #f0f0f0; 
    border-top: 1px solid #ccc;
}

ul.fee_list li.collapsed div.fee_description,
ul.fee_list li.collapsed div.fee_info { display: none; }

ul.fee_list li.collapsed h4 {
    border-bottom: none;
}

ul.fee_list li.inactive p,
ul.fee_list li.inactive h4 a { 
    color: #999; 
}

div.fee_description p,
div.fee_info p { 
    margin:0; 
    padding: 0; 
    font-size: 13px; 
}

div.fee_info p { 
    color: #666666; 
} 

ul.fee_list li.drag { background: none; }
ul.fee_list li.drag .fee_content_container { border-color: #529fd5; }
ul.fee_list div.drag_handle { background: transparent url('../../images/resize.png') no-repeat left top; position: absolute; width: 12px; height: 16px; right: 0px; top: 5px; cursor: pointer; display: none; } 
ul.fee_list li:hover div.drag_handle,
ul.fee_list li.drag div.drag_handle { display: block; }

