<ul class="nav">
	<li><?=cp_button('New payment gateway', 'plus', array('href'=>'#', 'onclick'=>"new PopupForm('index_on_load_add_popup'); return false;")) ?></li>
	<li class="divider-vertical"></li>
	<li><?=cp_button('Set default gateway', 'star', array('href'=>'#', 'onclick'=>"new PopupForm('index_on_show_default_gateway_form', { ajaxFields: $('#listformPayment_Types_index_list') }); return false;")) ?></li>
</ul>