<div>
	<h2>Set payment gateway</h2>
	<div class="form-400">
		<?=Phpr_Form::open_tag() ?>

			<? if (!isset($fatal_error)): ?>
				<div class="content">
					<div class="form">
						<div class="form-flash"></div>

						<fieldset class="form-elements">
							<div class="control-group dropdown full">
								<label for="type_id" class="control-label">
									Gateway <span class="required">*</span>
									
									<span class="comment">Please select a default gateway.</span>
								</label>
								<div class="controls">
									<select name="type_id" id="type_id">
										<option value="">&lt;please select&gt;</option>
										<? foreach ($types as $type): ?>
											<option <?=Phpr_Form::option_state($type_id, $type->id) ?> value="<?=h($type->id) ?>"><?=h($type->name).' ('.$type->gateway_name.')' ?></option>
										<? endforeach ?>
									</select>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="footer">
					<?=admin_ajax_button('Apply', 'index_on_set_default_gateway', array('class'=>'positive'), "
						loadIndicator: {injectInElement: true},
						update: '#types_page_content',
						success: cancelPopup,
						afterUpdate: update_scrollable_toolbars
						") ?>
					<?=admin_button('Cancel', array('onclick'=>"
						cancelPopup();
						return false;
					")) ?>
				</div>
			<? else: ?>
				<div class="content">
					<div class="form-flash"><?=flash()?></div>
				</div>
				<div class="footer">
					<?=admin_button('Cancel', array('onclick'=>'return cancelPopup();"')) ?>
				</div>
			<? endif ?>
		
		</form>
	</div>
</div>