<? Admin_Breadcrumb::add('Payment Types', 'payment/types')->add($this->app_page_title);?>
<? Phpr_View::begin_block("view") ?>

	<?=flash()?>

	<? if (!isset($fatal_error)): ?>
		<div class="scoreboard-report">
			<ul>
				<li>
					<p>Payment gateway</p>
					<h3 class="icon"><i class="icon-credit-card"></i> <?=h($form_model->gateway_name) ?></h3>
				</li>
			</ul>
		</div>

		<div class="form-500">
			<?=Phpr_Form::open_tag() ?>

				<? $this->form_render() ?>

				<div id="fixed-toolbar" class="top">
					<div class="form-toolbar">
						<?=admin_ajax_button('Create', 'create_on_save', array('class'=>'btn-success'), "beforeSend: function(){phprTriggerSave();}") ?>
						<?=admin_ajax_button('Cancel', 'create_on_cancel') ?>
					</div>
				</div>

			</form>
		</div>
	<? else: ?>
		<p><a href="<?= url('payment/types') ?>">Return to the payment types list</a></p>
	<? endif ?>
<? Phpr_View::end_block() ?>