<? $autoreturn_url = root_url('/api_pay_paypal_autoreturn', true); ?>
<?=$this->hint_render(
	'moneybookers_gateway', 
	'
	<h4 class="alert-heading">How to set up your Moneybookers account</h4>
	<ol>
		<li>1. Log in to your Moneybookers account</li>
		<li>2. Click the My Account link in the top menu</li>
		<li>3. Click Merchant Tools in the left column menu</li>
		<li>4. Under Secret Word, choose a unique word and enter it in the provided fields and enter the same word in the field below</li>
		<li>7. Click the Confirm button at the bottom of the page</li>
	</ol>
	',
	false
)?>
