<p>You have received a review from {user_name}.</p>
<p>Rating: <strong>{rating_stars}</strong> / 5<br />Comment: <br />{rating_comment}</p>
<p>Don't forget to leave a review for them, if you haven't already!</p>
<p>
Related request<strong><br />
{request_title} Request</strong><br />
{request_link}
</p>