<p>The bidding period for your request with {site_name} has ended. It's time to choose a quote!</p>
<p>
<strong>{request_title}</strong><br />
{request_link}
</p>
<p>You can either accept a quote from a provider or extend the time by visiting the link above.</p>