<p>This email is to confirm that your booking with {user_name} has been cancelled on {current_date}. We have also notified the customer that the job appointment has been cancelled.</p>
<p>
<strong>{request_title} Request</strong><br />
<strong>{request_link}</strong>
</p>
<p>Thank you for using {site_name} to find new customers.</p>