<?
	$extra_description = $form_model->get_extra_description();
?>
<? if (count($extra_description)): ?>
	<div class="control-group textarea full preview" id="form_field_extra_descriptionService_Request">
		<label class="control-label" for="Service_Request_extra_description">
			Extra Description
		</label>

		<div class="controls preview" id="form_field_container_extra_descriptionService_Request">
			<div class="preview-field text">
				
				<span class="uneditable-input">
					<? foreach ($extra_description as $extra): ?>
						<p>
							<small><?= $extra->created_at ?></small>
							<?=$extra->description?>
						</p>
					<? endforeach ?>
				</span>
				
			</div>
		</div>
	</div>
<? endif ?>