<p>Please click the button to pay with 2Checkout.</p>

<form action="<?= $payment_type->get_form_action($payment_type) ?>" method="post">
    <?
        $hidden_fields = $payment_type->get_hidden_fields($payment_type, $invoice);
    ?>
    <? foreach ($hidden_fields as $name => $value): ?>
        <input type="hidden" name="<?= $name ?>" value="<?= h($value) ?>"/>
    <? endforeach ?>
    <input type="submit" class="btn" value="<?= __('Pay with 2Checkout') ?>" />
</form>