<li>
	<div class="hint"><p class="last">In your Authorize.net backend, you must input this URL in the Account / Settings / <strong>Relay Response</strong> section: <a href="<?= root_url('/api_pay_authorize_relay_response', true); ?>" onclick="return false"><?= root_url('/api_pay_authorize_relay_response', true); ?></a></p></div>
</li>